body {
  background-color: #061f40;
  color: white;
  margin: 15px 10px;
}

#indexBody {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "headerSection"
    "signInSection"
    "footerSection";
}

#filtersPageBody {
  display: flex;
  flex-direction: column;
}

#filterHeader {
  align-self: center;
  margin-top: 43px;
}

.venueSizeButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.amenitiesProvidedButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.proximityHeader {
  display: flex;
  justify-content: space-between;
}

.proximityDistance {
  font-size: 18px;
}

.amenitiesProvidedButton {
  border: 1px solid #fe7d34;
  border-radius: 15px;
  padding: 9px;
  text-align: center;
  margin: 6px;
  color: #fe7d34;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}

.venueSizeButton {
  text-align: center;
  border: 1px solid #fe7d34;
  border-radius: 10px;
  padding: 7px 24px;
  margin: 5px;
  color: #fe7d34;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.ratingStars {
  display: flex;
  justify-content: center;
}

.italic {
  font-size: 10px;
  font-style: italic;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
}

.proximityLine {
  border-width: 2px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.performanceTypeButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.performanceTypeButton {
  text-align: center;
  border: 1px solid #fe7d34;
  border-radius: 10px;
  padding: 7px 24px;
  margin: 5px;
  color: #fe7d34;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

#filterButton {
  align-self: center;
  margin-top: 30px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #fe7d34;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.cardPageBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerSectionIndex2 {
  display: flex;
}

.headerSectionFilterPage {
  display: flex;
}

#filterBar {
  color: #fe7e34;
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

#searchPageH2 {
  align-self: flex-start;
  margin-left: 10px;
  padding: 10px 0px;
}

.searchBar {
  height: 51px;
  width: 293px;
  border-radius: 10px;
  border: 2px solid hsla(22, 99%, 60%, 1);
  margin-right: 6px;
}

.filterText {
  margin-top: 10px;
}

#searchBarIcon {
  float: right;
  padding-top: 18px;
  padding-right: 10px;
}

.venueCard {
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "venuePicture"
    "venueDescription";

  width: 293px;
  border-radius: 10px;
  box-shadow: 2px 4px 13px 0px hsla(22, 99%, 60%, 1);
  border: 1px solid hsla(22, 99%, 60%, 1);
  margin: 10px;
}

.venuePicture {
  grid-area: venuePicture;
}

.venuePicture > img {
  border-radius: 10px 10px 0px 0px;
}

.venueDescription {
  grid-area: venueDescription;
  justify-content: start;
}

.venueName {
  display: flex;
}

.venueName > p {
  font-size: 10px;
  margin-top: 14px;
}

.stars {
  margin-left: 10px;
  margin-top: 13px;
}

.attributes > p {
  background-color: #f23d4c;
  border-radius: 10px;
  padding: 6px;
}

h1 {
  font-family: Fugaz One;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  margin: 0;
}

h2 {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}

h3 {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}

h4 {
  margin-top: 5;
  margin-bottom: 0;
  font-family: Francois One;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 8px;
}

h5 {
  margin: 0;
  font-family: Rubik;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 8px;
}

.inputSection {
  background-color: white;
  font-family: Roboto;
  font-size: 14px;
  color: #061f40;
  height: 30px;
  width: 345px;
  border-radius: 10px;
  text-align: center;
  padding-top: 12px;
  margin-top: 10px;
}

.headerSection {
  grid-area: headerSection;
  display: flex;
  justify-content: space-evenly;
  /* outline-style: solid;
  outline-color: white; */
  align-items: center;
}

.pictureDescription {
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0em;
}

.signInSection {
  grid-area: signInSection;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space between;
}

.footerSection {
  grid-area: footerSection;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

.socialMediaIcons {
  display: flex;
  justify-content: space-around;
  width: 227px;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px;
}

p {
  margin: 6;
  line-height: 15px;
}

.socialMediaText {
  font-size: 10px;
}

.attributes {
  display: flex;
  font-size: 10px;
  padding-bottom: 5px;
  font-weight: 800;
}

button {
  height: 46px;
  width: 227px;
  background-color: #fe7e34;
  border-radius: 10px;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  pointer-events: none;
}

#filterTitle {
  text-align: left;
  margin: 10px 0px;
}
